build/
.gradle
target
out
gen-external-apklibs
mobile/mobile.iml
wear/wear.iml
shared/shared.iml
.idea
!.idea/codeStyleSettings.xml
META-INF
com_crashlytics_export_strings.xml
crashlytics-build.properties
.DS_Store
*.apk
*.alloc
*.hprof
