<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.smartwatches.becare">

    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application tools:replace="android:icon"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.StartingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.BallRectangleActivity"
            android:screenOrientation="portrait"
            android:label="@string/exercise_ring_rect">
        </activity>

        <activity
            android:name=".activities.SensorsListActivity"
            android:screenOrientation="portrait"
            android:label="@string/sensors_list">
        </activity>

        <service android:name=".DataUploadService" />

        <service android:name=".BecareSensorReceiverService">
            <intent-filter>
                <action
                    android:name="com.google.android.gms.wearable.BIND_LISTENER"/>
            </intent-filter>
        </service>
    </application>

</manifest>
